PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/saparshy_engineering
JWT_SECRET=change_this_secret
JWT_EXPIRE=30d

ADMIN_NAME=Канат Нурмухамбетов
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_password
